<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel='stylesheet' href='./css/main.css' />
</head>

<body>
<!-- Header Section -->
  <div class="header">
   <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
           <h1>Hi, welcome to <span>SleepCalc.</span>.</h1>
          <p>Calculate the most healthy time to fall asleep</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- End header Section -->

  <!-- Form Section-->

      <section class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>What is the best time to go to bed, if I want to get up at:</h2>
        </div>
      </section>

      <section class="container">
       <div class="row text-center">
        <div class="col-md-12">
           <%= form_for(Wake.new) do |f| %>
           <%= f.time_select :hours, {minute_step: 5, prompt: true, order: [:hour]} %>
           <%= f.submit "Submit" %>
           <% end %>
        </div>
     </div>
  </section>

  <div class="row text-center">
<p> Последнее время упавшее в форму: <%= Wake.new.hours %><br/></p>
<p> Время юзера - 450 минут (7.5 часов): <%#= a = Wake.new.hours - 450.minutes %><br/>
<p> Убираем ненужное, получаем финальное время в часах и минутах: <%#= d = a.hour.to_s + ":" + a.min.to_s %><br/>
</html>
