<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel='stylesheet' href='./css/main.css' />
</head>

<body>
<!-- Header Section -->
  <div class="header">
   <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
           <h1>Hi, welcome to <span>SleepCalc.</span>.</h1>
          <p>What is the best time to <span>go to bed</span>, if I want to<span> get up</span> at:</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- End header Section -->

  <!-- Form Section-->

      <section class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>What is the best time to get up if I want to wake up at:</h2>
        </div>
      </section>
       <section class="container">
       <div class="row text-center">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="form-group select-group">
              <select class="form-control select-placeholder" id="hours" name="hours">
                <option selected disabled>Hours</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>00</option>
              </select>
             </div>
             <div class="form-group select-group">
              <select class="form-control select-placeholder" id="mins" name="mins">
                <option selected disabled>Minutes</option>
                <option>00</option>
                <option>05</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>50</option>
                <option>55</option>
              </select>
             </div>
            </div>
          </form>
        </div>
      </div>
      </section>
        <section class="container">
        <div class="row text-center">
        <button class="button" onclick="window.open('http://wob.su')">Calculate</button>
      </section>
     </div>
  <div class="footer">
    <div class="container">
      <ul>
        <li>About</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
      <p>© 2017 SleepCalc</p>
    </div>
  </div>
</body>
</html>
